header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 4px solid #000000;

  .logo {
    width: 110px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 67px;
    display: flex;
    cursor: pointer;
    a {
      font-size: 24px;
      color: #333;
      text-decoration: none;
      font-weight: bold;
    }

  }

  .menu {
    place-self: flex;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0 10px;

      p {
        color: #333;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
      }
      p:hover{
        color: #9c9c9c;
      }
    }
  }

  .menu-icon {
    display: none;
    cursor: pointer;

    i {
      font-size: 24px;
      color: #333;
    }
  }

  @media only screen and (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      z-index: 999;
      padding: 10px 0;

      li {
        margin: 10px 0;

        a {
          font-size: 20px;
        }
      }
    }

    .menu-icon {
      display: block;
    }
  }
}

.buttons {
  display: flex;
  gap: 1rem;
  .registerLogin{
    color: #333;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
        background-color: white;
  }
}






