$bgImage: url("../../images/bgImage.jpg");
$background-color: #f5f5f5;
$primary-color: #000000;
$secondary-color: #5cb85c;
$danger-color: #d9534f;
$header-height: 71px;
$footer-height: 73px;

.container {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: calc(100vh - $header-height - $footer-height);
  display: flex;
  flex-direction: row;
}

.left-column {
  flex-direction: row;
  width: 30%;
  box-sizing: border-box;
  padding: 20px;

  // Banner styles
  .banner {
    background-color: $primary-color;
    color: #fff;
    padding: 10px;
    text-align: center;

    .status {
      font-weight: bold;
      color: $secondary-color;
    }
  }

  // News feed styles
}

.right-column {
  flex: 1;
  flex-direction: row;
  width: 40%;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
  height: 100%;
  padding-right: 30px;
  padding-left: 30px;
  overflow: auto;
  ::-webkit-scrollbar {
    display: none;
  }

  .news-feed {
    h2 {
      color: $primary-color;
      border-bottom: 2px solid #000000;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: -webkit-center;

      li {
        margin: 10px 0;

        a {
          color: $primary-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.emptyColumn {
  width: 30%;
}
