
$backgroundColor: #202020;
footer {
  background-color: $backgroundColor;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
}